
.search-group {
    width: 30%;
    display: flex;
    margin-bottom: 3em;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}
img {
    max-height: 300px;
    max-width: 300px;
    min-width: 354px;
    border-bottom: 1px;
}

.card {
  border: solid;
  webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  min-height: 400px;
  max-height: 400px;
}

#rating {
  margin-top: 10px;
  margin-left: 5px;
}

#to-watch {
  margin-top: 10px;
  margin-left: 5px;
}

#watched {
  margin-top: 10px;
  margin-left: 5px;
}
