
.search-group {
    width: 40%;
    display: flex;
    margin-bottom: 3em;
    min-width: 250px
}

.hidden {
    display: none;
}

.show {
    display: flex;
}
img {
    width: 100%;
    border-bottom: 1px;
}

.card {
  border: solid;
  webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#rating {
  margin-top: 10px;
  margin-left: 5px;
}

#to-watch {
  margin-top: 10px;
  margin-left: 5px;
}

#watched {
  margin-top: 10px;
  margin-left: 5px;
}

#watchedUnwatchedSelection {
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  margin-bottom: 2em;
  min-width: 350px;
}
#watchedUnwatchedSelection a {
  /*margin-right: 3em;*/
  width: 10%;
  color: black;
  border: 1px solid black;
  padding: 0.2em 2em;
}

.activeWatch {
  text-decoration: underline;
  background-color: #8DEA91;
}

.text-center {text-align:center;}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 1.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
