
.search-group {
    width: 40%;
    display: flex;
    margin-bottom: 3em;
    min-width: 250px
}

.hidden {
    display: none;
}

.show {
    display: flex;
}
img {
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
}

.card {
  border: solid;
  webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#rating {
  margin-top: 10px;
  margin-left: 5px;
}

#to-watch {
  margin-top: 10px;
  margin-left: 5px;
}

#watched {
  margin-top: 10px;
  margin-left: 5px;
}

#watchedUnwatched {
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  margin-bottom: 2em;
  min-width: 350px;
}
#watchedUnwatched a {
  /*margin-right: 3em;*/
  width: 10%;
  color: black;
  border: 1px solid black;
  padding: 0.2em 2em;
}
